include *.rst
include *.yaml
include .bumpversion.cfg
include .coveragerc
include Makefile
include Pipfile
include Pipfile.lock
include ispell_wordlist/*
include requirements.txt
include tox.ini
recursive-include tests *.py
recursive-include util *